.cost-container {
  display: flex;
  flex-direction: row;

  mat-form-field {
      padding: 7px;
  }
}

.description {
    padding: 7px;
    width: 590px;
}

.full-width {
    width: 100%;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.spacer {
    margin-bottom: 40px;
}